<nav id="main-nav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            {# path foncyion symfony intégré a twig pour créer des liens #}
            {# {name: 'khun'} ajoutera ?name=khun dans la requet #}
            <a class="nav-link" href="{{ path('default_home',{name: 'Khun'}) }}"><i class="fa fa-home me-2"></i>Accueil</a>
        </li>
        <li><a class="nav-link" href="{{ path('default_contact') }}"><i class="fa fa-phone me-2"></i>Contact</a></li>
        <li><a class="nav-link" href="{{ path('default_contact_us') }}"><i class="fa fa-envelope me-2 "></i>Contactez-nous</a></li>
        <li><a class="nav-link" href="{{ path('client_clients') }}"><i class="fa fa-user me-2" ></i>Clients</a></li>
    </ul>
</nav>